* {
    margin: 0;
    padding: 0;
}

#navbar {
    height: 60px;
    background-color: #0f1111;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-logo {
    margin-top: 10px;
    height: 40px;
    width: 80px;
}

#logo {
    background-image: url("/images/logo.png");

    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;

    width: 80px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

#nav-location {
    display: flex;
}

.first {
    align-content: center;
}

#nav-search {
    display: flex;
    width: 600px;
    height: 40px;
    border-radius: 8px;


}

#nav-search:hover {
    border: 2px solid orange;

}

#icon {
    background-color: rgb(239, 158, 51);
    text-align: center;
    line-height: 40px;
    font-size: 1rem;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

#select {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    font-size: 15px;
    width: 40px;
    background-color: rgb(238, 238, 239);
}

#input {
    border: none;
    width: 100%;
    font-size: 1.2rem;
}

#para1 {
    font-size: 0.9rem;
}

#para2 {
    font-size: 1rem;
    font-weight: bolder;
}

#cart i {
    font-size: 25px;

}

#navbar2 {
    height: 40px;
    background-color: #4a4d4d;
    color: white;
    display: flex;
    /* line-height: 40px; */
    justify-content: space-evenly;
    align-items: center;
}

#tools a {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 500;

}

#tools {
    width: 60%;
}

#shop {
    font-size: 1.1rem;
    font-weight: bolder;
}

#main {
    background-image: url("/images/background.jpg");
    height: 310px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#msg a {
    color: #007185;
    font-size: 16px;

}

#msg {
    background-color: white;
    height: 35px;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    position: relative;
    top: 250px;
    width: 95%;

}

.box {
    margin-top: 15px;
    height: 360px;
    border: 1px solid black;
    width: 23%;
    background-color: aliceblue;

}


#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(230, 246, 220);

}

.img {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 260px;
    /* border: 1px solid black; */
    background-size: cover;




}

#total p:hover {
    text-decoration: underline 2px;

    text-underline-offset: 4px;
    color: #007185;
}

#total {
    padding: 15px;

}

#total p {
    color: #007185;
}

#foot1 {
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1rem;
    background-color: #37475a;
    color: white;
}

#foot2 {
    background-color: #222f34;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

#foot2 ul {
    margin-top: 20px;
}

#foot2 a {
    color: rgb(228, 224, 224);
    margin-top: 10px;
    display: flex;
    font-size: 0.9rem;
}

#foot3 {
    background-color: #222f3d;
    color: white;
    border-top: 1px solid #dddddd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footlogo {
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;

    height: 30px;
    width: 100px;
}

#foot4 {
    height: 60px;
    background-color: #0f1111;
    color: white;
    font-size: 12px;
    padding-top: 30px;
    font-weight: 200;
    text-align: center;
}